body { 
	padding:0;
	margin:0;
	background-color: $light-blue;
	color: $dark-blue;
}

.container {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	
	@include trans();
	
	@media screen and (max-width:960px) {
		width:760px;
	}
	@media screen and (max-width:760px) {
		width:560px;
	}
	@media screen and (max-width:560px) {
		width:360px;
	}
	@media screen and (max-width:360px) {
		width:200px;
	}
	
}
