.header {
	
	background-color:$fogdog;
	height:40px;
	
	.site-name {
		padding:0px 5px;
		font-size:1.7em;
		float:left;
		text-transform:uppercase;
		@include fontCooper;
		font-weight:bold;
	}
	
	.slide-trigger {
		display:none;
		float:left;
		padding:8px 5px;
		font-size:20px;
		color:$white;
		-webkit-font-smoothing:antialiased;
		@include trans(all, 200ms, ease);
		
		@media screen and (max-width:560px) {
			display:block;
			float:right;
			&:active {
				cursor:pointer;
				color:$dark-blue;
			}
			&:after {
				content:"";
				clear:both;
			}
		}
		
	}
	
	.nav {
		
		font-size:15px;
		float:left;
		@include fontArial;
		
		.item {
			
			float:left;
			display:inline-block;
			
			background-color:$fogdog;
			
			&:hover {
				background-color:$light-orange;
			}
			&:active {
				background-color:$dark-orange;
			}
			
			@media screen and (max-width:560px) {
				width:360px;
			}
			@media screen and (max-width:360px) {
				width:100%;
			}
			
		}
		a {
			display:block;
			text-decoration:none;
			padding:11px 10px;
			color: $dark-blue;
			&:hover {
				color: $light-blue;
			}
			
			@media screen and (max-width:560px) {
				
			}
			
		}
		
		@media screen and (max-width:560px) {
			display:none;
			float:left;
			background-color:$fogdog;
			&:before, &:after{
				content: "";
				clear:both;
			}
		}
		@media screen and (max-width:360px) {
			display:none;
			float:none;
			width:100%;
			background-color:$fogdog;
			&:before, &:after{
				content: "";
				clear:both;
			}
		}
		
	}
	
}
