@mixin trans($param:all, $time:500ms, $type:ease){
	-webkit-transition: $param $time $type;
	-moz-transition: $param $time $type;
	-ms-transition: $param $time $type;
	transition: $param $time $type;
}
